<%-include("partials/header.ejs")%>

<div class="header" >
    <a href="/home1"><h3>Home</h3></a>
    <a href="/create1"><h3>Create Blogs</h3></a>
    <a href="/MyBlogs"><h3>My Blogs</h3></a>
</div>
<hr>
<%-include("index.ejs")%>
<%-include("partials/footer.ejs")%>